:root
{
    --spacing: 0.25rem;
    --blurred-border: lightgray;
    --hovered-border: gray;
    --focused-border: black;
    --focused-bgcolor: rgb(255,255,220);
}

form.-center
{
    display: block;
    margin: var(--spacing) auto;
    outline: 0px;
    border: var(--spacing) dashed var(--hovered-border);
    border-radius: calc(var(--spacing)*4);
    padding: calc(var(--spacing)*4);
    width: fit-content;
}

/*------------------------------------------------------------*\
 * INPUT
 * SELECT
 * TEXTAREA
 * LABEL
 * BUTTON
\*------------------------------------------------------------*/

input,
select,
textarea
{
    box-sizing: border-box;
    display: inline-block;
    margin: 0px;
    outline: 0px;
    border: 1px solid var(--blurred-border);
    border-radius: var(--spacing);
    padding: var(--spacing);
    /*width: 100%;*/
    font-size: 1rem;
    line-height: var(--line-height);
}

input:hover,
select:hover,
textarea:hover
{
    outline: 0px;
    border-color: var(--hovered-border);
}

input:focus,
select:focus,
textarea:focus
{
    outline: 0px;
    border-color: var(--focused-border);
    background-color: var(--focused-bgcolor);
}

label
{
    display: block;
    margin: var(--spacing);
    /*padding: calc(var(--spacing) / 10);*/
}
label[kj-label]
{
    margin-bottom: calc(var(--spacing)*4);
    /*padding-top: 1em;*/
}
label[kj-label]::before
{
    content: attr(kj-label);
    display: block;
    font-size: 0.6em;
    text-transform: uppercase;
    color: var(--hovered-border);
}
label[kj-label]:hover::before,
label[kj-label]:focus-within::before
{
    color: var(--focused-border);
}

button
{
    display: block;
    margin: var(--spacing) auto;
    outline: 0px;
    border: 1px solid var(--focused-border);
    border-radius: var(--spacing);
    padding: var(--spacing) calc(var(--spacing)*3);
    font-size: 1rem;
}

form div.error
{
    display: block;
    margin-bottom: calc(var(--spacing)*4);
    text-align: center;
    font-size: 0.8rem;
    color: red;
}

/*------------------------------------------------------------*\
 * svg.cover
\*------------------------------------------------------------*/
svg.-cover
{
    position: fixed;
    inset: 0px;
    z-index: 999;
}

/*------------------------------------------------------------*\
 * dialog
\*------------------------------------------------------------*/
.-dialog
{
    position: fixed;
    inset: 0px auto auto 0px;
    z-index: 1000;
    box-sizing: border-box;
    display: block;
    margin: 10px;
    outline: 0px;
    border: 0px;
    border-radius: var(--spacing);
    padding: var(--spacing);
    background-color: rgba(255,255,255,0.5);
    width: fit-content;
    height: auto;
}

.-dialog .-caption
{
    margin: var(--spacing);
    margin-bottom: calc(var(--spacing) * 2);
    text-align: center;
}

.-dialog > form
{
    margin: var(--spacing);
    border: 0px;
    border-radius: var(--spacing);
    padding-top: var(--spacing);
    background-color: var(--bg-color);
}

.-dialog .-fields
{
    display: block;
}

.-dialog .-buttons
{
    display: flex;
    margin: var(--spacing);
    flex-direction: row;
    flex-wrap: nowrap;
}
.-dialog form .-buttons > button
{
    flex: 1;
    margin: 0px var(--spacing);
    width: auto;
    text-transform: capitalize;
}
.-dialog .-buttons > button.confirm
{
    background-color: rgb(100,255,100);
}
.-dialog .-buttons > button.cancel
{
    background-color: rgb(255,100,100);
}

/*------------------------------------------------------------*\
 * menu
\*------------------------------------------------------------*/
.-menu
{
    position: fixed;
    /*inset: 0px auto auto 0px;*/
    z-index: 1000;
    box-sizing: border-box;
    display: block;
    margin: 0px;
    outline: 0px;
    border: 1px solid var(--fg-color);
    padding: 0px;
    background-color: var(--bg-color);
    width: fit-content;
    height: auto;
    /*transition: top .3s, left .3s;*/
}

.-menu > .-menuitem
{
    position: relative;
    display: block;
    margin: 0px;
    outline: 0px;
    border: 0px;
    padding: var(--spacing);
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
    cursor: pointer;
}
.-menu > .-menuitem:hover
{
    background-color: rgba(0,0,0,0.25);
}

.-menu > .-separater
{
    position: relative;
    display: block;
    margin: var(--spacing) calc(var(--spacing) * 2);
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid var(--fg-color);
    padding: 0px;
    height: 0px;
}

