
/*------------------------------------------------------------*\
 * Member Card
\*------------------------------------------------------------*/
#Member
{
    --pad: calc(var(--spacing)*4);
    box-sizing: border-box;
    display: block;
    margin: var(--pad) 0px;
    outline: 0px;
    border: var(--spacing) dashed var(--book-color);
    border-radius: var(--pad);
    padding: var(--pad);
    width: 100%;
    min-height: 120px;
}

@media screen and (max-width: 400px)
{
    #Member
    {
        min-height: none;
    }
}

/*------------------------------------------------------------*\
 * Repository Card
\*------------------------------------------------------------*/
.cardset
{
    --hovered-bg-color: rgb(240,240,240);
    --size: calc(100% / 2 - var(--spacing) * 2);
    --rad: calc(var(--spacing)*3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardset > .card
{
    position: relative;
    flex: 1 1 var(--size);
    box-sizing: border-box;
    display: block;
    margin: var(--spacing);
    border: 0px;
    border-radius: var(--rad);
    padding: var(--spacing);
    max-width: var(--size);
    height: fit-content;
    background-color: transparent;
    overflow: hidden;
}
.cardset > a.card
{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.cardset > a.card:hover
{
    background-color: var(--hovered-bg-color);
}
.cardset > a.card:active
{
    background-color: var(--hovered-bg-color);
}
.cardset > a.card:visited
{
    color: blue;
    /*background-color: rgb(0,0,255);*/
}

.cardset > .card.new
{
    position: relative;
    border: var(--spacing) dashed var(--blurred-border);
    padding: calc(var(--spacing) * 2);
    background-color: transparent;
    color: var(--blurred-border);
    font-family: "Arial Black";
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.cardset > .card.new:hover
{
    border-color: var(--hovered-border);
    color: var(--hovered-border);
}