
:root
{
    --bg-color: white;
    --fg-color: black;
    --nav-color: rgb(200,230,255);
    --book-color: rgb(100,215,255);
    --worm-color: white;
    --fontsize: 24px;
    font-size: calc(var(--fontsize)*1);
    line-height: 1.25rem;
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
}

body
{
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    min-height: 50px;
}

.-wrapper
{
    box-sizing: border-box;
    display: block;
    margin: 0px auto;
    width: auto;
    max-width: 80%;
    min-width: 800px;
}

/*------------------------------------------------------------*\
 * SVG dialogue
\*------------------------------------------------------------*/
svg.dialogue
{
    display: inline-block;
    width: 500px;
    height: 140px;
}
svg.dialogue path
{
    stroke: var(--fg-color);
    stroke-width: 3;
    fill: var(--bg-color);
}
svg.dialogue text
{
    text-anchor: middle;
    dominant-baseline: central;
    fill: var(--fg-color);
    stroke: transparent;
    font-weight: bold;
    font-family: "Arial Black", "微軟正黑體", sans-serif;
    font-size: 48px;
    line-height: 60px;
}

/*------------------------------------------------------------*\
 * SVG bookworm
\*------------------------------------------------------------*/
svg.bookworm
{
    /*position: absolute;
    inset: 0px 0px auto auto;*/
    display: inline-block;
    width: 256px;
    height: 256px;
}
svg.bookworm > g
{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10;
    /*stroke: var(--fg-color);*/
}
svg.bookworm > g.background
{
    stroke: var(--bg-color);
    fill: var(--bg-color);
    stroke-width: 20;
}
svg.bookworm > g.book
{
    stroke: var(--fg-color);
    fill: var(--book-color);
}
svg.bookworm > g.lines
{
    stroke: var(--fg-color);
    fill: none;
}
svg.bookworm > g.hole
{
    stroke: none;
    fill: rgba(0,0,0,0.75);
}
svg.bookworm > g.worm
{
    stroke: var(--fg-color);
    fill: var(--worm-color);
}

/*------------------------------------------------------------*\
 * Header
\*------------------------------------------------------------*/
header
{
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /*width: 100%;*/
    background-color: var(--bg-color);
}
header > div.-wrapper
{
    position: relative;
    max-width: 1024px;
    height: 340px;
}
header > div.-wrapper > svg.dialogue
{
    position: absolute;
    top: 10px;
    right: 236px;
}
header > div.-wrapper > svg.bookworm
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@media screen and (max-width: 400px)
{
    .-wrapper
    {
        max-width: 400px;
        min-width: 400px;
        padding: 10px;
    }
    header > div.-wrapper
    {
        position: relative;
        height: 170px;
    }
    header > div.-wrapper > svg.dialogue
    {
        position: absolute;
        top: 5px;
        right: 118px;
        width: 250px;
        height: 70px;
    }
    header > div.-wrapper > svg.bookworm
    {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 128px;
        height: 128px;
    }
}

/*------------------------------------------------------------*\
 * NAV
\*------------------------------------------------------------*/
nav
{
    position: fixed;
    inset: 0px 0px auto;
    box-sizing: border-box;
    display: block;
    margin: 0px;
    outline: 0px;
    border: 0px;
    padding: 0px 8px;
    height: 48px;
    background-color: var(--nav-color);
    transition: top 0.1s;
}
nav.hidden
{
    top: -48px;
}

nav + .-wrapper
{
    margin-top: 64px;
}

nav > .-wrapper
{
    display: flex;
}

nav svg.bookworm
{
    margin: 8px;
    width: 32px;
    height: 32px;
    transform-origin: center center;
    transform: scaleX(-1);
}
nav .caption
{
    flex: 1;
    display: block;
    margin: 8px;
    padding: 0px;
    font-size: 24px;
    line-height: 32px;
    color: var(--fg-color);
}
nav .icon
{
    box-sizing: border-box;
    display: block;
    margin: 4px;
    border-radius: 50%;
    padding: 0px;
    background-color: var(--book-color);
    width: 40px;
    height: 40px;
    overflow: hidden;
}