
/*------------------------------------------------------------*\
 * Tools
\*------------------------------------------------------------*/
#tools
{
    --size: calc(100% / 6 - var(--spacing) * 2);
    display: flex;
}
#tools > button
{
    flex: 1 6 var(--size);
    margin: 0px var(--spacing);
    max-width: var(--size);
}

/*------------------------------------------------------------*\
 * ToC
\*------------------------------------------------------------*/
