<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="any" />
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml" />
        <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}" />
<!-- StyleSheet Block Begin -->{% for f in css %}
        <link rel="stylesheet" type="text/css" href="{{
            url_for('static', filename='css/' + f)
            }}" />
{% endfor %}<!-- StyleSheet Block End -->
    </head>
    <body>
{% include 'header.html.j2' %}
        <div class="-wrapper">
<!-- Content Block Begin -->{% block content %}
{% endblock %}<!-- Content Block End -->
        </div>
{% if not noapp %}<!-- JS Block Begin -->
<!-- JS Module Block Begin -->{% for f in js %}
        <script type="module" src="{{
            url_for('static', filename='js/' + f)
            }}"></script>
{% endfor %}<!-- JS Module Block End -->
        <script type="module">
import { app } from "{{
    url_for('static', filename='js/ibookworm.js')
            }}";
app.run();
        </script>
<!-- JS Block End -->{% endif %}
    </body>
</html>