{% extends 'default.html.j2' %}

{% block content %}
<div class="edit-wrapper">
    <div class="title">
        <input id="title" name="title" value="" />
    </div>
    <div id="tools"></div>
    <div id="workspace"></div>
</div>
{% endblock %}

<script>
{% block script %}
app.extends("editor",[],(scope)=>{
    scope.tools = {};
    scope.Layout = app.layout({
        "title": {
            "static": true,
            "element": "#title",
            "methods": {
                "set": function(t) { this.element.value = t; },
                "get": function() { return this.element.value; }
            }
        },
        "tools": {
            "element": "#tools",
            "methods": {
                "add": function(key,icon,help,callback) {
                    if (key=="|") {
                        this.append(app.dom("div.-separater"));
                        return;
                    }
                    let tool = app.dom("div.-icon",help).listen("click",callback);
                    this.append(tool);
                    scope.tools[key] = tool;
                },
                "show": function(key) {
                    if (!(key in scope.tools)) { return; }
                    let tool = scope.tools[key];
                    tool.element.style.display = "block";
                },
                "hide": function(key) {
                    if (!(key in scope.tools)) { return; }
                    let tool = scope.tools[key];
                    tool.element.style.display = "none";
                }
            }
        },
        "workspace": {
            "element": "#workspace"
        }
    });
    /*let init_data = null;
    scope.Layout.on("ctrl+s",(e)=>{
        console.log(e);
        if (init_data==null) { return; }
        let url = "/save/"+init_data.repository+"/", data = {}
        if (init_data.id>=0) {
            url += init_data.id;
            data["content"] = scope.mod.save();
        } else {
            data = {
                "title": scope.Layout.get("title").get(),
                "type": init_data.type,
                "content": scope.module.save()
            };
        }
        console.log(url,data);
        app.post(url,data).then((json)=>{
            console.log(json);
        });
    });*/
    let save_doc = ()=>{
        let url = "/save/" + scope.data.repository + "/",
            data = {"content":scope.module.save()};
        if (scope.data.doc_id>=0) {
            url += scope.data.doc_id;
            // TODO: check alter data
        } else {
            data["title"] = scope.Layout.get("title").get();
            data["type"] = scope.data.type;
        }
        app.post(url,data).then((json)=>{
            console.log(json);
            // TODO: reload?
        });
    };
    scope.enter = function() {
        this.Layout.on("ctrl+s",save_doc);
        // prepare initial tools
    };
    //scope.leave = function() {};
});
app.ready((urlpath,urldata)=>{
    let repo_id = urldata.repository,
        doc_id = urldata?.doc_id;
    if (doc_id != null) {
        return app.post("/load/"+repo_id+"/"+doc_id);
    }
    return Promise.resolve({
        "repository": repo_id,
        "id": -1,
        "type": "article",
        "title": "Unnamed",
        "metadata": {}
    });
}).then((json)=>{
    app.activate("editor");
    let editor = app.Module("editor");
    editor.data = json;
    let mods = app.search(json.type), mod = mods[0];
    // TODO: check metadata for editor
    app.activate(mod);
    let m = app.Module(mod);
    editor.module = m;
    m.load(json);
});
{% endblock %}
</script>