{% extends 'default.html.j2' %}
{% block content %}
<div class="-wrapper">
    <form class="-center" method="POST" action="{{ url_for('login') }}">
        <label kj-label="Username">
            <input type="text" name="username"
            {% if username %} value="{{ username }}" {% endif %}
            spellcheck="false" autocorrect="off" />
        </label>
        <label kj-label="Password">
            <input type="password" name="password" />
        </label>
        {% if errmsg %}<div class="error">{{ errmsg }}</div>{% endif %}
        <button>Login</button>
    </form>
</div>
{% endblock %}