<nav>
    <div class="-wrapper">
        <svg class="bookworm" viewBox="0 0 1000 1000">
            <g class="background">
                <path d="M 400,180 l 500,80
                    a 60,120 -10,0,1 40,200
                    l -370,500 l -500,-80
                    l -40,-200 z" />
            </g>
            <g class="book">
                <path d="M 400,180 l 500,80
                    a 60,120 -10,0,1 40,200
                    l -370,500
                    a 60,120 -10,0,0 -40,-200
                    l -500,-80 z"/>
            </g>
            <g class="lines">
                <path d="M 400,180 m -370,500
                    m 5,25 l 475,76 m -475,-76
                    m 5,25 l 500,80 m -500,-80
                    m 5,25 l 500,80 m -500,-80
                    m 5,25 l 500,80 m -500,-80
                    m 5,25 l 500,80 m -500,-80
                    m 5,25 l 500,80 m -500,-80
                    m 5,25 l 475,76 m -475,-76
                    m 5,25 l 500,80 m -500,-80 z" />
                <path d="M 400,180 m 500,80
                    l -370,500
                    M 400,200 z" />
            </g>
            <g class="hole">
                <path d="M 550,435
                    a 90,50 0,1,1 -150,0
                    M 550,430 z"/>
            </g>
            <g class="worm">
                <path d="M 550,460
                    a 75,40 0,0,1 -150,0
                    s 0,-200 -250,-230
                    a 65,65 0,0,1 50,-150
                    s 350,50 350,380
                    z" />
            </g>
        </svg>
        <span class="caption">I, Bookworm.</span>
    </div>
</nav>
