{% extends 'default.html.j2' %}

{% block content %}
{% include 'navigator.html.j2'%}
<div class="-wrapper">
    <div id="title"></div>
    <div class="navigator"></div>
    <div id="content"></div>
    <div class="navigator"></div>
</div>
{% endblock %}

<script>
{% block script %}
app.extends("viewer",[],(scope)=>{
    scope.Layout = app.layout({
        "title": {
            "element": "#title",
            "methods": {
                "set": function(capt) { this.text(capt); }
            }
        },
        "content": {
            "element": "#content",
            "methods": {
                "write": function(content) {
                    this.clear();
                    this.append(content);
                }
            }
        },
        "nav": {
            "element": ".navigator",
            "methods": {
                "clear": function() { this.clear(); }
            }
        }
    });

    scope.enter = function() {};
});
app.ready((urlpath,urldata)=>{
    return app.post("/load/"+urldata.repository+"/"+urldata.doc_id,{})
}).then((json)=>{
    app.activate("viewer");
    let mods = app.search(json.type), mod = mods[0];
    // TODO: check metadata for reader
    app.activate(mod);
    let m = app.Module(mod);
    m.show(json);
});
{% endblock %}
</script>